footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    background-color: var(--color-light-blue);
    color: var(--color-white);
}

footer p {
    margin-bottom: 10px;
}

@media (min-width:1200px) {
    .footer-container {
        display: flex;
        width: 100%;
        max-width: 960px;
        margin: auto;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
    }

    footer p {
        margin-bottom: 0px;
    }
}